ASfollowWeb/Service References/ASfollowService/ASfollowService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ping">
        <s:complexType />
      </s:element>
      <s:element name="pingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="about">
        <s:complexType />
      </s:element>
      <s:element name="aboutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aboutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="shareInfoMonthly">
        <s:complexType />
      </s:element>
      <s:element name="shareInfoMonthlyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shareInfoMonthlyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="shareInfoUrgent">
        <s:complexType />
      </s:element>
      <s:element name="shareInfoUrgentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shareInfoUrgentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="pingSoapIn">
    <wsdl:part name="parameters" element="tns:ping" />
  </wsdl:message>
  <wsdl:message name="pingSoapOut">
    <wsdl:part name="parameters" element="tns:pingResponse" />
  </wsdl:message>
  <wsdl:message name="aboutSoapIn">
    <wsdl:part name="parameters" element="tns:about" />
  </wsdl:message>
  <wsdl:message name="aboutSoapOut">
    <wsdl:part name="parameters" element="tns:aboutResponse" />
  </wsdl:message>
  <wsdl:message name="shareInfoMonthlySoapIn">
    <wsdl:part name="parameters" element="tns:shareInfoMonthly" />
  </wsdl:message>
  <wsdl:message name="shareInfoMonthlySoapOut">
    <wsdl:part name="parameters" element="tns:shareInfoMonthlyResponse" />
  </wsdl:message>
  <wsdl:message name="shareInfoUrgentSoapIn">
    <wsdl:part name="parameters" element="tns:shareInfoUrgent" />
  </wsdl:message>
  <wsdl:message name="shareInfoUrgentSoapOut">
    <wsdl:part name="parameters" element="tns:shareInfoUrgentResponse" />
  </wsdl:message>
  <wsdl:portType name="ASfollowServiceSoap">
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingSoapIn" />
      <wsdl:output message="tns:pingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="about">
      <wsdl:input message="tns:aboutSoapIn" />
      <wsdl:output message="tns:aboutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="shareInfoMonthly">
      <wsdl:input message="tns:shareInfoMonthlySoapIn" />
      <wsdl:output message="tns:shareInfoMonthlySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="shareInfoUrgent">
      <wsdl:input message="tns:shareInfoUrgentSoapIn" />
      <wsdl:output message="tns:shareInfoUrgentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ASfollowServiceSoap" type="tns:ASfollowServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ping">
      <soap:operation soapAction="http://tempuri.org/ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="about">
      <soap:operation soapAction="http://tempuri.org/about" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareInfoMonthly">
      <soap:operation soapAction="http://tempuri.org/shareInfoMonthly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareInfoUrgent">
      <soap:operation soapAction="http://tempuri.org/shareInfoUrgent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ASfollowServiceSoap12" type="tns:ASfollowServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ping">
      <soap12:operation soapAction="http://tempuri.org/ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="about">
      <soap12:operation soapAction="http://tempuri.org/about" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareInfoMonthly">
      <soap12:operation soapAction="http://tempuri.org/shareInfoMonthly" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareInfoUrgent">
      <soap12:operation soapAction="http://tempuri.org/shareInfoUrgent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ASfollowService">
    <wsdl:port name="ASfollowServiceSoap" binding="tns:ASfollowServiceSoap">
      <soap:address location="http://localhost:2415/ASfollowService.asmx" />
    </wsdl:port>
    <wsdl:port name="ASfollowServiceSoap12" binding="tns:ASfollowServiceSoap12">
      <soap12:address location="http://localhost:2415/ASfollowService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>