ASfollowWeb/Service References/StepService/StepService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ping">
        <s:complexType />
      </s:element>
      <s:element name="pingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addStep">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tagId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="priority" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="cron" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="checked" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addStepResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addStepResult" type="tns:step" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="step">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="step_id" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="action_id" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="tag_id" nillable="true" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="priority" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="cron" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="amount" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="checked" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="addStepByActionIdAndText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addStepByActionIdAndTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addStepByActionIdAndTextResult" type="tns:step" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateStep">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="stepId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="actionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tagId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="priority" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="cron" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="checked" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateStepResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateStepResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setStepChecked">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="stepId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setStepCheckedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="setStepCheckedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteStep">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="stepId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteStepResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteStepResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStepByStepId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="stepId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStepByStepIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStepByStepIdResult" type="tns:step" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStepsByActionId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStepsByActionIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStepsByActionIdResult" type="tns:ArrayOfStep" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStep">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="step" nillable="true" type="tns:step" />
        </s:sequence>
      </s:complexType>
      <s:element name="getStepsByTagId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tagId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStepsByTagIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStepsByTagIdResult" type="tns:ArrayOfStep" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="pingSoapIn">
    <wsdl:part name="parameters" element="tns:ping" />
  </wsdl:message>
  <wsdl:message name="pingSoapOut">
    <wsdl:part name="parameters" element="tns:pingResponse" />
  </wsdl:message>
  <wsdl:message name="addStepSoapIn">
    <wsdl:part name="parameters" element="tns:addStep" />
  </wsdl:message>
  <wsdl:message name="addStepSoapOut">
    <wsdl:part name="parameters" element="tns:addStepResponse" />
  </wsdl:message>
  <wsdl:message name="addStepByActionIdAndTextSoapIn">
    <wsdl:part name="parameters" element="tns:addStepByActionIdAndText" />
  </wsdl:message>
  <wsdl:message name="addStepByActionIdAndTextSoapOut">
    <wsdl:part name="parameters" element="tns:addStepByActionIdAndTextResponse" />
  </wsdl:message>
  <wsdl:message name="updateStepSoapIn">
    <wsdl:part name="parameters" element="tns:updateStep" />
  </wsdl:message>
  <wsdl:message name="updateStepSoapOut">
    <wsdl:part name="parameters" element="tns:updateStepResponse" />
  </wsdl:message>
  <wsdl:message name="setStepCheckedSoapIn">
    <wsdl:part name="parameters" element="tns:setStepChecked" />
  </wsdl:message>
  <wsdl:message name="setStepCheckedSoapOut">
    <wsdl:part name="parameters" element="tns:setStepCheckedResponse" />
  </wsdl:message>
  <wsdl:message name="deleteStepSoapIn">
    <wsdl:part name="parameters" element="tns:deleteStep" />
  </wsdl:message>
  <wsdl:message name="deleteStepSoapOut">
    <wsdl:part name="parameters" element="tns:deleteStepResponse" />
  </wsdl:message>
  <wsdl:message name="getStepByStepIdSoapIn">
    <wsdl:part name="parameters" element="tns:getStepByStepId" />
  </wsdl:message>
  <wsdl:message name="getStepByStepIdSoapOut">
    <wsdl:part name="parameters" element="tns:getStepByStepIdResponse" />
  </wsdl:message>
  <wsdl:message name="getStepsByActionIdSoapIn">
    <wsdl:part name="parameters" element="tns:getStepsByActionId" />
  </wsdl:message>
  <wsdl:message name="getStepsByActionIdSoapOut">
    <wsdl:part name="parameters" element="tns:getStepsByActionIdResponse" />
  </wsdl:message>
  <wsdl:message name="getStepsByTagIdSoapIn">
    <wsdl:part name="parameters" element="tns:getStepsByTagId" />
  </wsdl:message>
  <wsdl:message name="getStepsByTagIdSoapOut">
    <wsdl:part name="parameters" element="tns:getStepsByTagIdResponse" />
  </wsdl:message>
  <wsdl:portType name="StepServiceSoap">
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingSoapIn" />
      <wsdl:output message="tns:pingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addStep">
      <wsdl:input message="tns:addStepSoapIn" />
      <wsdl:output message="tns:addStepSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addStepByActionIdAndText">
      <wsdl:input message="tns:addStepByActionIdAndTextSoapIn" />
      <wsdl:output message="tns:addStepByActionIdAndTextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateStep">
      <wsdl:input message="tns:updateStepSoapIn" />
      <wsdl:output message="tns:updateStepSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setStepChecked">
      <wsdl:input message="tns:setStepCheckedSoapIn" />
      <wsdl:output message="tns:setStepCheckedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteStep">
      <wsdl:input message="tns:deleteStepSoapIn" />
      <wsdl:output message="tns:deleteStepSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStepByStepId">
      <wsdl:input message="tns:getStepByStepIdSoapIn" />
      <wsdl:output message="tns:getStepByStepIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStepsByActionId">
      <wsdl:input message="tns:getStepsByActionIdSoapIn" />
      <wsdl:output message="tns:getStepsByActionIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStepsByTagId">
      <wsdl:input message="tns:getStepsByTagIdSoapIn" />
      <wsdl:output message="tns:getStepsByTagIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StepServiceSoap" type="tns:StepServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ping">
      <soap:operation soapAction="http://tempuri.org/ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStep">
      <soap:operation soapAction="http://tempuri.org/addStep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStepByActionIdAndText">
      <soap:operation soapAction="http://tempuri.org/addStepByActionIdAndText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStep">
      <soap:operation soapAction="http://tempuri.org/updateStep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStepChecked">
      <soap:operation soapAction="http://tempuri.org/setStepChecked" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteStep">
      <soap:operation soapAction="http://tempuri.org/deleteStep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStepByStepId">
      <soap:operation soapAction="http://tempuri.org/getStepByStepId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStepsByActionId">
      <soap:operation soapAction="http://tempuri.org/getStepsByActionId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStepsByTagId">
      <soap:operation soapAction="http://tempuri.org/getStepsByTagId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StepServiceSoap12" type="tns:StepServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ping">
      <soap12:operation soapAction="http://tempuri.org/ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStep">
      <soap12:operation soapAction="http://tempuri.org/addStep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStepByActionIdAndText">
      <soap12:operation soapAction="http://tempuri.org/addStepByActionIdAndText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStep">
      <soap12:operation soapAction="http://tempuri.org/updateStep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStepChecked">
      <soap12:operation soapAction="http://tempuri.org/setStepChecked" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteStep">
      <soap12:operation soapAction="http://tempuri.org/deleteStep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStepByStepId">
      <soap12:operation soapAction="http://tempuri.org/getStepByStepId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStepsByActionId">
      <soap12:operation soapAction="http://tempuri.org/getStepsByActionId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStepsByTagId">
      <soap12:operation soapAction="http://tempuri.org/getStepsByTagId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StepService">
    <wsdl:port name="StepServiceSoap" binding="tns:StepServiceSoap">
      <soap:address location="http://localhost:2415/services/core/StepService.asmx" />
    </wsdl:port>
    <wsdl:port name="StepServiceSoap12" binding="tns:StepServiceSoap12">
      <soap12:address location="http://localhost:2415/services/core/StepService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>